<div class="container">


	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a id="search_link" href="">Code Search</a></li>
		<li><a id="summarizer_link" href="">Code Summarizer</a></li>
	</ul>

	<div id="search" class="jumbotron" style="text-align:center; background-color:transparent">
		<h1>Code Essence</h1>
		<p class="lead">
			Search for a method using keywords.
		</p>

		<div style="width:800px; margin:0 auto;">
		<%= form_tag(:search, method: "get", class: "form-horizontal") do %>
				<div class="input-group">
					<%= text_field_tag(:features, nil, class: "form-control", placeholder: "Features", :style => "width:800px !important; height:33px;") %>
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
				
				<div id="loading-image" style="float:right; margin-top:10px;"></div>
				<div>
				 	<%= link_to "Random Query",
						"#{ENV["RAILS_RELATIVE_URL_ROOT"]}/search/get_random_query", :class =>
						"pull-right", :onclick => 'get_random_query(event)', :style =>
						"margin:10px" %>
				</div>

				<div id="suggestions-drop"><ul></ul></div>		
		<% end %>
		</div>

		<div style="margin:0 auto; padding:10px;">
			<h3 style="width:200px; margin:10px auto;">Sample Queries</h3>
			<form action="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/search">
				<table id="query_samples" style="margin:0 auto;"><tr></tr></table>
			</form>
		</div>

	</div>

	<div id="summarizer" class="jumbotron" style="text-align:center; background-color:transparent; display: none">
		<h1>Code Essence</h1>
		<p class="lead">
			Summarize a method.
		</p>

		<div style="width:800px; margin:0 auto;">
			<%= form_tag(:summarize, method: "post") do %>
				<div class="form-group" style="width:100%;text-align:left">
					<%= text_area_tag(:source_code, '// CodeEssence.java

public class CodeEssence.java{
	public static void main(String[] args) {
		System.out.println("Hello World!");
	}
}', class: "form-control", style: "width: 100%") %>
				</div>

				<div class="form-group">
						<button class="btn btn-primary">Summarize</button>
				</div>
			<% end %>

		</div>

		<div style="margin:0 auto; padding:10px;">
			<h3 style="visibility:hidden; width:200px; margin:10px auto;">Summaries</h3>
			<div id="loading-image-summary"></div>
			<ul></ul>
		</div>

	</div>



<%= javascript_tag do %>
	/* ----------------------------------------
	 *	Generate sample query buttons
	 * ----------------------------------------
	 */

	$.get('<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/search/get_example_queries', function(data) {
		var $eg_table = $('#query_samples');
		var row = "";
		var colors = [
			"btn btn-primary",
			"btn btn-info",
			"btn btn-success",
			"btn btn-warning",
			"btn btn-danger",
			"filler"
		];		
		var table_row = document.createElement('tr');
		var table_td = document.createElement('td');
		
		for(var i in data) {
			var num_per_line = 5;
			var color = colors[Math.floor(Math.random() * (colors.length - 1) )];
			var button = document.createElement('button');
			var text = document.createTextNode(data[i]);
			
			button.className = color;
			button.setAttribute('style', 'font-size:15px; margin:5px;');
			button.setAttribute('name', 'features');
			button.setAttribute('value', data[i]);
			button.appendChild(text);
	
			if(i % num_per_line == 0) {
				table_td = document.createElement('td');
				table_row = document.createElement('tr'); 
			}
			else table_td.appendChild(button)

			if(i % num_per_line == num_per_line - 1 || i == data.length - 1) {
				table_row.appendChild(table_td)

				$eg_table[0].appendChild(table_row)
			}
		}
	});
<% end %>


<%= javascript_tag do %>
	
	/* -----------------------------------------
	 *	Generates a random query
	 * -----------------------------------------
	 */

	function get_random_query(event){ 
		$('#loading-image').append('<%= image_tag("ajax-loader.gif") %>');	
		event.preventDefault();
		$.get('<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/search/get_random_query', function(data) {
			$('#features').val(data);	
			$('#loading-image').find('img').remove();
		});
	};
<% end %>


<%= javascript_tag do %>
	
	/* -----------------------------------------
	 * Summarizes a piece of code	
	 * -----------------------------------------
	 */

	function summarize(event){ 
		$('#loading-image-summary').append('<p>Summarizing...</p>');	
		$('#loading-image-summary').append('<%= image_tag("ajax-loader.gif") %>');	
		var sc = $('#source_code').val();
		console.log(sc);
		event.preventDefault();
		$.post('<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/summarizer/summarize', {'source_code': sc}, function(data) {
			$('#loading-image-summary').find('img').remove();
			//do something with data
		});
	};
<% end %>


<script>
	
	/* ----------------------------------------------
	 *	Search Suggestions
	 * ----------------------------------------------
	 */

	$(document).ready(function() {
		var substringMatcher = function(strs) {
			return function findMatches(q, cb) {
				var matches, substrRegex;
		 
				// an array that will be populated with substring matches
				matches = [];
		 
				// regex used to determine if a string contains the substring `q`
				substrRegex = new RegExp(q, 'i');
		 
				// iterate through the pool of strings and for any string that
				// contains the substring `q`, add it to the `matches` array
				$.each(strs, function(i, str) {
					if (substrRegex.test(str)) {
						// the typeahead jQuery plugin expects suggestions to a
						// JavaScript object, refer to typeahead docs for more info
						matches.push({ value: str });
					}
				});
		 
				cb(matches);
			};
		};

		$.get('<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/search/get_suggestions', function(data) {
			var features = [];

			for(var i in data) features.push(data[i]['feature']);
			sessionStorage.setItem('features', substringMatcher(features))

			$('#features').typeahead({
				hint: true,
				highlight: true,
				minLength: 1
			}, {
				name: 'features',
				displayKey: 'value',
				source:	substringMatcher(features)
			});

		//Undo some of typeahead's pre-set stylings
			$('.tt-dropdown-menu').css({
				'width' : '100%',
				'background' : 'white',
				'border' : '1px solid lightgrey',
				'max-height' : '200px',
				'overflow-y' : 'auto',
				'overflow-x' : 'hidden',
				'padding' : '10px'
			});

			$('.twitter-typeahead').css({
				'position' : 'static !important',
				'display' : 'block'
			})
		});

		

	});
</script>

<%= javascript_tag do %>
	$('#summarizer_link').click(function(event){
		event.preventDefault();
		console.log("summarizer link");
		$('#search').css('display','none');
		$('#search_link').parent().attr('class','');
		$('#summarizer').css('display','block');
		$('#summarizer_link').parent().attr('class','active');
	});	

	$('#search_link').click(function(event){
		event.preventDefault();
		console.log("search link");
		$('#search').css('display','block');
		$('#search_link').parent().attr('class','active');
		$('#summarizer').css('display','none');
		$('#summarizer_link').parent().attr('class','');
	});	
<% end %>

<script>
	var textarea = document.getElementById("source_code");
	console.log(textarea);
	var form = textarea.form;
	console.log(form);
	var editor = ace.edit(textarea);
	form.addEventListener('submit', function(event){
		event.preventDefault();
		$('#loading-image-summary').append('<p>Summarizing...</p>');	
		$('#loading-image-summary').append('<%= image_tag("ajax-loader.gif") %>');	
		textarea.style.visibility = "hidden";
		console.log('editor.getValue()');
		console.log(editor.getValue());
		textarea.value = editor.getValue();
		form.appendChild(textarea);
		$.post('<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/summarizer/summarize', {'source_code': textarea.value}, function(data) {
			$('#loading-image-summary').find('img').remove();
		});
	});
	editor.setTheme("ace/theme/textmate");
	editor.getSession().setMode("ace/mode/java");
	editor.setOptions({minLines: 20});
	editor.setOptions({maxLines: 30});
	editor.container.id = "source_code";
</script>

</div><!-- container -->
