<h1>Function TO Lex Features</h1>

<%= search_form_for @search, {:class => "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.number_field :function_id_eq, class: "form-control", placeholder: "Function ID" %>
  	<%= f.submit "Search", :class => "btn btn-primary" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @function_lex_features %></div>
</div>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Function ID</th>
      <th>Lex Feature IDs</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @function_lex_features.each do |function_lex_feature| %>
      <tr>
				<td><%= function_lex_feature.function_id %></td>	
				<td><%= function_lex_feature.feature_ids.map{ |fid| link_to fid, lex_feature_path(fid)}.join(', ').html_safe %></td>	
        <td><%= link_to 'Show', function_lex_feature %></td>
        <td><%= link_to 'Edit', edit_function_lex_feature_path(function_lex_feature) %></td>
        <td><%= link_to 'Destroy', function_lex_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
	<div class="page_info"><%= page_entries_info @function_lex_features %></div>
	<%= will_paginate @function_lex_features %> 
</div>

<br>

<%= link_to 'New Function lex feature', new_function_lex_feature_path %>
