<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-condensed">                  
    <tr>                                                                            
      <th>Function ID</th>                                                                   
      <td><%= @function_lex_feature.function_id %></td>                                               
    </tr>                                                                           
                                                                                    
    <tr>                                                                            
      <th>LEX Feature IDs</th>                                                         
      <td>                                                                          
        <%= @function_lex_feature.feature_ids.map{ |fid| link_to fid, lex_feature_path(fid)}.join(', ').html_safe %>
        <div class="flickr_pagination">                                              
          <div class="page_info"><%= page_entries_info @feature_ids %></div>        
          <%= will_paginate @feature_ids %>                                         
        </div>                                                                      
      </td>                                                                         
    </tr>                                                                           
                                                                                    
</table> 

<%= link_to 'Edit', edit_function_lex_feature_path(@function_lex_feature) %> |
<%= link_to 'Back', function_lex_features_path %>
