<%= form_for(@lex_minset) do |f| %>
  <% if @lex_minset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lex_minset.errors.count, "error") %> prohibited this lex_minset from being saved:</h2>

      <ul>
      <% @lex_minset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :functin_id %><br>
    <%= f.number_field :function_id %>
  </div>

  <div class="field">
    <%= f.label :minset %><br>
    <%= f.number_field :minset %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
