<h1>Minsets (LEX)</h1>

<%= search_form_for @search, class: "form-inline" do |f| %>
  <div class="field">
		<%= f.number_field :function_id_eq, class: "form-control", placeholder: "Function ID" %>
    <%= f.number_field :size_gteq, class: "form-control", placeholder: "<= Minset Size "%>
    <%= f.number_field :size_lteq, class: "form-control", placeholder: "Minset Size <="%>
  	<%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @lex_minsets %></div>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, "ID" %></th>
      <th><%= sort_link @search, :function_id, "Function ID" %></th>
      <th><%= sort_link @search, :minset, "Minset (Feature IDs)" %></th>
      <th>Minset (Features)</th>
      <th><%= sort_link @search, :size, "Size" %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lex_minsets.each do |lex_minset| %>
      <tr>
        <td><%= lex_minset.id %></td>
        <td><%= link_to lex_minset.function_id, function_path(lex_minset.function_id) %></td>
				<td>
					<%= lex_minset.minset.map{ |feature_id| link_to feature_id, lex_feature_path(feature_id)}.join(', ').html_safe %>
				</td>
				<td>
					<%= lex_minset.minset.map{ |feature_id| link_to LexFeature.find(feature_id).feature, lex_feature_path(feature_id)}.join(', ').html_safe %>
				</td>
        <td><%= lex_minset.size %></td>
        <td><%= link_to 'Show', lex_minset %></td>
        <td><%= link_to 'Edit', edit_lex_minset_path(lex_minset) %></td>
        <td><%= link_to 'Destroy', lex_minset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
	<div class="page_info"><%= page_entries_info @lex_minsets %></div>
	<%= will_paginate @lex_minsets %> 
</div>

<br>

<%= link_to 'New Lex minset', new_lex_minset_path %>
