<p id="notice"><%= notice %></p>

<p>
  <strong>Minset:</strong>
  <%= @lex_minset.minset %>
</p>

<p>
  <strong>Size:</strong>
  <%= @lex_minset.size %>
</p>

<%= link_to 'Edit', edit_lex_minset_path(@lex_minset) %> |
<%= link_to 'Back', lex_minsets_path %>
