<%= form_for(@lex_feature) do |f| %>
  <% if @lex_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lex_feature.errors.count, "error") %> prohibited this lex_feature from being saved:</h2>

      <ul>
      <% @lex_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feature %><br>
    <%= f.text_area :feature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
