<h1>LEX Features</h1>

<%= search_form_for @search, class: "form-inline" do |f| %>
  <div class="field">
		<%= f.number_field :id_eq, class: "form-control", placeholder: "ID" %>
    <%= f.text_field :feature_cont, class: "form-control", placeholder: "Feature contains"%>
  	<%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @lex_features %></div>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Feature</th>
      <th>Feature Hash (MD5)</th>
			<th>Function IDs Size</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lex_features.each do |lex_feature| %>
      <tr>
        <td><%= lex_feature.id %></td>
        <td><%= lex_feature.feature %></td>
        <td><%= lex_feature.feature_hash %></td>
        <td><%= lex_feature.function_ids.size %></td>
        <td><%= link_to 'Show', lex_feature %></td>
        <td><%= link_to 'Edit', edit_lex_feature_path(lex_feature) %></td>
        <td><%= link_to 'Destroy', lex_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
	<div class="page_info"><%= page_entries_info @lex_features %></div>
	<%= will_paginate @lex_features %> 
</div>
<br>

<%= link_to 'New Lex feature', new_lex_feature_path %>
