<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>ID</th>	
			<td><%= @lex_feature.id %></td>
		</tr>
		<tr>
      <th>Feature</th>	
			<td><%= @lex_feature.feature %></td>
		</tr>

		<tr>
			<th>Size of Function IDs</td>
			<td><%= @lex_feature.function_ids.size %></td>
		</tr>

		<tr>
      <th>Function IDs</th>	
			<td>
				<%= @function_ids.map{ |mid| link_to mid, function_path(mid)}.join(', ').html_safe %>
				<div class="flickr_pagination">                                                      
					<div class="page_info"><%= page_entries_info @function_ids %></div>               
					<%= will_paginate @function_ids %>                                                
				</div> 					
			</td>
		</tr>
		
</table>


<%= link_to 'Edit', edit_lex_feature_path(@lex_feature) %> |
<%= link_to 'Back', lex_features_path %>

