<%= form_for(@java_file) do |f| %>
  <% if @java_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@java_file.errors.count, "error") %> prohibited this java_file from being saved:</h2>

      <ul>
      <% @java_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
