<h1>Java Files</h1>

<%= search_form_for @search, {:class => "form-inline form-centered"} do |f| %>
  <div class="form-group">
    <%= f.number_field :id_eq, class: "form-control", placeholder: "ID" %>
    <%= f.text_field :location_cont, class: "form-control", placeholder: "Location" %>
  	<%= f.submit "Search", :class => "btn btn-primary"  %>
  </div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @java_files %></div>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Location</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @java_files.each do |java_file| %>
      <tr>
        <td><%= java_file.id %></td>
        <td><%= java_file.location %></td>
        <td><%= link_to 'Show', java_file %></td>
        <td><%= link_to 'Edit', edit_java_file_path(java_file) %></td>
        <td><%= link_to 'Destroy', java_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="apple_pagination">
    <div class="page_info"><%= page_entries_info @java_files %></div>
    <%= will_paginate @java_files %> 
  </div>

<br>

<%= link_to 'New Java file', new_java_file_path %>
