<p id="notice"><%= notice %></p>

<% source_code_path = 'public/' %>
<% rel_location = @java_file.location%>                  
<% location = source_code_path + rel_location %>                                  

<div class="panel panel-primary">                                                 
	<div class="panel-heading"><h3 class="panel-title"><%= @java_file.id%><h3></div>
	<div class="panel-body">                                                        
		<pre><%= rel_location %></pre>                                                
		<% contents = File.read(location) %>
			<%= raw( CodeRay.scan(contents, :java).div(:line_numbers => :table) ) %>
			<%# raw CodeRay.highlight_file( location ) %>                               
	</div>                                                                          
</div>      


<%= link_to 'Edit', edit_java_file_path(@java_file) %> |
<%= link_to 'Back', java_files_path %>
