<%= form_for(@function) do |f| %>
  <% if @function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@function.errors.count, "error") %> prohibited this function from being saved:</h2>

      <ul>
      <% @function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :java_file_id %><br>
    <%= f.number_field :java_file_id %>
  </div>
  <div class="field">
    <%= f.label :start_line %><br>
    <%= f.number_field :start_line %>
  </div>
  <div class="field">
    <%= f.label :end_line %><br>
    <%= f.number_field :end_line %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
