<h1>Functions</h1>

<%= search_form_for @search, {:class => "form-inline form-centered"} do |f| %>
  <div class="form-group">
    <%= f.number_field :id_eq, class: "form-control", placeholder: "ID" %>
    <%= f.number_field :java_file_id_eq, class: "form-control", placeholder: "Java File ID" %>
    <%= f.text_field :name_cont, class: "form-control", placeholder: "Name contains" %>
  	<%= f.submit "Search", :class => "btn btn-default, btn-primary"  %>
  </div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @functions %></div>
</div>

<table class="table table-striped table-bordered table-condensed">

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Java file</th>
      <th>Start line</th>
      <th>End line</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @functions.each do |function| %>
      <tr>
        <td><%= function.id %></td>
        <td><%= truncate(function.name, length: 100, omission: '...(continued)') %></td>
        <td><%= link_to function.java_file_id, java_file_path(function.java_file_id) unless function.java_file_id.nil?%></td>
        <td><%= function.start_line %></td>
        <td><%= function.end_line %></td>
        <td><%= link_to 'Show', function %></td>
        <td><%= link_to 'Edit', edit_function_path(function) %></td>
        <td><%= link_to 'Destroy', function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
	<div class="page_info"><%= page_entries_info @functions %></div>
	<%= will_paginate @functions %> 
</div>

<br>

<%= link_to 'New Function', new_function_path %>
