<p id="notice"><%= notice %></p>

<% source_code_path = 'public/' %>
<% rel_location = @function.java_file.location %>                                             
<% location = source_code_path + rel_location %>                                    

<h3 class="page-header"><%= @function.name %></h3>
<table class="table table-striped table-bordered table-condensed"> 
	<tr>
		<th>ID</th><td><%= @function.id %></td>
	</tr>
	<tr>
		<th>File</th><td><%= rel_location %></td>
	</tr>
	<tr>
		<th>Start Line</th><td><%= link_to @function.start_line, "#n#{@function.start_line}" %></td>
	</tr>
	<tr>
		<th>End Line</th><td><%= link_to @function.end_line, "#n#{@function.end_line}" %></td>
	</tr>
	<tr>
		<th>Feature IDS</th>
		<td>
			<%= @feature_ids.map{ |feature_id| link_to feature_id, lex_feature_path(feature_id)}.join(', ').html_safe %>
     	<div class="flickr_pagination">                                              
     	<div class="page_info"><%= page_entries_info @feature_ids %></div>        
  			<%= will_paginate @feature_ids %>                                         
  		</div>                                                                      
		</td>  
	</tr>

</table>

<%= raw CodeRay.highlight_file(location, :line_numbers => :table, :highlight_lines => (@function.start_line..@function.end_line) ) %>                               


<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
