<%= form_for(@min4_feature) do |f| %>
  <% if @min4_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@min4_feature.errors.count, "error") %> prohibited this min4_feature from being saved:</h2>

      <ul>
      <% @min4_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feature %><br>
    <%= f.text_area :feature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
