<h1>MIN4 Features</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :feature_cont, "Feature contains" %>
    <%= f.text_field :feature_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="flickr_pagination">
  <div class="page_info"><%= page_entries_info @min4_features %></div>
</div>

<table class="table table-striped table-bordered table-condensed">

  <thead>
    <tr>
      <th>ID</th>
      <th>Feature</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @min4_features.each do |min4_feature| %>
      <tr>
        <td><%= min4_feature.id %></td>
        <td><%= min4_feature.feature %></td>
        <td><%= link_to 'Show', min4_feature %></td>
        <td><%= link_to 'Edit', edit_min4_feature_path(min4_feature) %></td>
        <td><%= link_to 'Destroy', min4_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="apple_pagination">
    <div class="page_info"><%= page_entries_info @min4_features %></div>
    <%= will_paginate @min4_features %> 
  </div>
<br>

<%= link_to 'New Min4 feature', new_min4_feature_path %>
