<p id="notice"><%= notice %></p>

<p>
  <strong>Feature:</strong>
  <%= @min4_feature.feature %>
</p>


<%= link_to 'Edit', edit_min4_feature_path(@min4_feature) %> |
<%= link_to 'Back', min4_features_path %>
