<!--<div class="well well-lg">-->
<%= form_tag(:search, method: "get", class: "form-inline") do %>                                        
	<div id="search-input" class="input-group">
		<%= text_field_tag(:features, @query.join(' '), class: "form-control", placeholder: "Features") %>
		<span class="input-group-btn">
			<%= submit_tag("Search", class: "btn btn-default") %>                  
		</span>
	</div>
<% end %> 
<!--</div>-->

<% if @method_ids.size > 0 %>
<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @method_ids %></div>                  
</div> 
<% end %>

<% if !@bad_features.empty? %>
	<p>Your query contains invalid keywords.  Remember that keywords are lexemes.</p>
<% end %>

<% if @method_ids.size == 0 %>
	<p>Your search -- <strong><%= @query.join(' ') %></strong> -- did not match anydocuments.]</p>

	<h3>Suggestions:</h3>

	<ul>
		<li>Try more general keywords.</li>
		<li>Try different keywords.</li>
		<li>Make sure all words are spelled correctly.</li>
		<li>Try fewer keywords.</li>
	</ul>
<% end %>

<div class="panel-group" id="accordion">
<% source_code_path = 'public/'%>
<% start_index = 1 + (@method_ids.current_page - 1) * 10 %>
<% @method_ids.to_enum.with_index(start_index) do |id, index| %>
	<% h = @methods[id] %>
	<% method = h["function"] %>
	<% rel_location = @java_files[method.java_file_id] %>
	<% location = source_code_path + rel_location %>
	<div class="panel panel-info">
		<div class="panel-heading" style="display:none;">
			<h6 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" 
				onclick="cre.show_file_contents(<%= index %>, '<%= location %>', <%= method.start_line %>, <%= method.end_line %>)">
				<%= index %>) <%=method.name %></a> 
				
				<span class="pull-right"><%= link_to "link", function_path(id) %></span>
			</h6>
		</div>

		<div id="collapse<%= index %>" class="panel-collapse collapse" >
			<div class="panel-body">
				<div id="file-content-<%= index %>"></div>
				<div class="well well-sm" style="margin-top:10px;"><%= link_to rel_location, java_file_path(method.java_file_id) %></div>
			</div>
		</div>
  		
  		<div class="panel-footer" style="background-color:transparent; margin-top:-35px;">
			<% if h["minset"].nil? or h["minset"].empty? %>
				 <%= "This method does not have a minset.  It is subsumed by some other method." %>
			<% else %>
			
			<div id="minset-<%= index %>" style="display:none;">
				<%= h['minset'].map { |feature_id| link_to @features[feature_id], lex_feature_path(feature_id) }.join(', ').html_safe %>
			</div>
			<% end %>
		</div>
	</div>
<% end %>
</div>

<% if @method_ids.size > 0 %>
<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @method_ids %></div>                  
	<%= will_paginate @method_ids %>
</div> 
<% end %>

<%= link_to "Back to search", controller: "welcome", action: "index" %>

<script>
	var cre = new CodeRayExtender();
	
	$(document).ready(function() {
		$('.panel-title').find('a').trigger('click');
	});
</script>
