<%# navigation styled for Bootstrap 3.0 %>                                          
<div class="container-fluid">                                                       
  <div class="navbar-header">                                                       
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>                                
      <span class="icon-bar"></span>                                                
      <span class="icon-bar"></span>                                                
      <span class="icon-bar"></span>                                                
    </button>                                                                       
    <%= link_to 'Code Essence', root_path, class: 'navbar-brand' %>           
  </div>                                                                            
                                                                                    
  <div class="collapse navbar-collapse navbar-right">                                            
    <ul class="nav navbar-nav nav-pills">                                           
      <%= render 'layouts/navigation_links' %>                                      
    </ul>                                                                           
  </div>                                                                            
                                                                                    
</div>  
