<%# add navigation links to this file %>                                            
                                                                                    
<li class="<%= 'active' if current_page?(root_path)%>"><%= link_to 'Home', root_path %></li>

<li class="<%= 'active' if current_page?(functions_path)%>"><%= link_to 'Functions', functions_path %></li>
<li class="<%= 'active' if current_page?(java_files_path)%>"><%= link_to 'Java Files', java_files_path %></li>
                                                                                    
<li class="dropdown <%= 'active' if current_page?(lex_features_path) or current_page?(min4_features_path) %>">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features<span class="caret"></span></a>
  <ul class="dropdown-menu">                                                        
    <li class="<%= 'active' if current_page?(lex_features_path)%>"><%= link_to 'LEX', lex_features_path %></li>
    <li class="<%= 'active' if current_page?(min4_features_path)%>"><%= link_to 'MIN4', min4_features_path %></li>
  </ul>                                                                             
</li>                                                                               

<li class="<%= 'active' if current_page?(function_lex_features_path)%>"><%= link_to 'Function To Lex Features', function_lex_features_path %></li>


<li class="<%= 'active' if current_page?(lex_minsets_path)%>"><%= link_to 'Lex Minsets', lex_minsets_path %></li>

<li class="<%= 'active' if current_page?(queries_path)%>"><%= link_to 'Queries', queries_path %></li>
