<!DOCTYPE html>
<html lang="en" style="height:100%;">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<title>Code Essence</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
		<%= csrf_meta_tags %>   

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="height:100%;">

		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<%= render 'layouts/navigation' %>	
		</div>


    <div id="content_wrapper" style="height:100%; padding:10px;">                                                   
      <%= render 'layouts/messages' %>                                              
      <%= yield %>                                                                  
    </div>   
		
		<!-- <div class="footer navbar-static-bottom navbar-default">
			<p>&copy; UC Davis 2014</p>
		</div>
    -->

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

